body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ebe9d7;
}

.login{
  text-align: center;
  margin: auto;
}

.navbar{
  background-color: #ee4c77;
}

.navbar span{
  color: white;
}
